extends ../layout

block content
  .row.justify-content-md-center
    .col-md-8
      .my-4
        div.form-title
          h4 Book Details

        .form-row
          .form-group.col-md-6
            div.col-md-12
              | #{book.name}
            div.col-md-12
              | #{book.Category.name}
            div.col-md-12
              | #{book.Author.name}
            div.col-md-12
              | #{book.description}
            div.col-md-12
              a(href="/books/#{book.id}/view_pdf" , target="_blank") PDF Viewer
            div.col-md-12
              a(href="/books/viewer.jade?file=/uploads/#{book.uploadBookName}") PDF Viewer 2

          .form-group.col-md-6
            div
              - var image = (_.isEmpty(book.image)) ? '/images/no_image.png' : "/uploads/" + book.image
              img.card-img-top(src="#{image}", alt='')

